@font-face {
  font-family: PT_Sans_Bold;
  font-display: swap;
  src: url("../fonts/PT_Sans_Bold.woff2") format("woff2"),
    url("../fonts/PT_Sans_Bold.woff") format("woff"),
    url("../fonts/PT_Sans_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: PT_Sans_Regular;
  font-display: swap;
  src: url("../fonts/PT_Sans_Regular.woff2") format("woff2"),
    url("../fonts/PT_Sans_Regular.woff") format("woff"),
    url("../fonts/PT_Sans_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Princess_Diana;
  font-display: swap;
  src: url("../fonts/Princess_Diana.woff2") format("woff2"),
    url("../fonts/Princess_Diana.woff") format("woff"),
    url("../fonts/Princess_Diana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway_Bold;
  font-display: swap;
  src: url("../fonts/Raleway_Bold.woff2") format("woff2"),
    url("../fonts/Raleway_Bold.woff") format("woff"),
    url("../fonts/Raleway_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Raleway_Medium;
  font-display: swap;
  src: url("../fonts/Raleway_Medium.woff2") format("woff2"),
    url("../fonts/Raleway_Medium.woff") format("woff"),
    url("../fonts/Raleway_Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Raleway_Regular;
  font-display: swap;
  src: url("../fonts/Raleway_Regular.woff2") format("woff2"),
    url("../fonts/Raleway_Regular.woff") format("woff"),
    url("../fonts/Raleway_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
