.title {
  text-align: center;
  font-family: "Raleway_Medium";
  line-height: math.div(50, 40);
  letter-spacing: 0.1em;
  @include adaptiveValue("font-size", 40, 24);
  max-width: rem(950);
  margin: 0 auto;
}
